nav{
display: flex;

justify-content: space-between;
background-color: black;
background-color: rgba(0,0,0,0.4);
color:white;
padding: 20px;
}
.B a{

text-decoration: none;
color: white;
margin-left: 18px;
}

body{
margin:0px;
font-family: "roboto,sans-serif";
font-size: 24px;
}
.A{
font-family: "bebas neue";
font-size: 30px;
font-weight: 800;
}
header{
    background: url("../image.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    

}
.container{
    margin-left: 120px;
    font-size: 60px;
    font-family:"bebas neue";
  
     font-weight: 400;
}
.top-margin{
    margin-top: 40px;
    color: white;
}
     

.subHeading{
margin-left: 120;
margin-top: 10;
    color: white;
    font-size :25px;
}
.social {
    margin-top: 60;
    padding-bottom: 120px;
}
.social img{
  margin-left: 20px;
}







